/* Header */
.nav-item .nav-link .navbar-brand{
    transition: background-color 0.3s, color 0.3s;
    /* Suaviza la transición de los cambios */
}

.nav-blue .nav-link:hover{
    background-color: #001E6C;
    color: #ffffff;
}

.navbar-brand:hover{
    color:#001E6C;
}

.nav-red .nav-link:hover {
    background-color: #C80036;
    color: #ffffff;
}

.nav-yellow .nav-link:hover {
    background-color: #FCD900;
    color: #000;
}


/* Presentacion */
#presentacion {
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url(assets/pietf.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.custom-blue {
    color: #001E6C; 
}

.custom-red {
    color: #C80036; 
}

.custom-yellow {
    color: #FCD900; 
}

/* Proyectos */
.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-1 {
    background-image: url('assets/googleClon.png');
}

#proyecto-2 {
    background-image: url('assets/pinterestClon.png');
}

#proyecto-3 {
    background-image: url('assets/colegio.png');
}

.proyecto {
    transform: translateX(-100%); /* Inicia fuera de la pantalla, a la izquierda */
    opacity: 0; /* Inicia invisible */
    transition: transform 1s ease-out, opacity 1s ease-out; /* Duración de la animación */
}

.proyecto.visible {
    transform: translateX(0); /* Mueve a su posición final */
    opacity: 1; /* Hace la tarjeta visible */
}

.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}

.bg-brand {
    background-color: blueviolet;
}

.text-brand {
    color: blueviolet;
}